@import './variables.scss';

.single-container-products {
    min-height: 800px;

    .box {
        background-size: contain;
        background-position: center;
        box-shadow: $shadow-big;
    }
}

.products-navigation-container {
    z-index: 100;
    pointer-events: none;
}

.products-navigation {
    background-color: $white;
    box-shadow: $shadow;
    min-height: 100vh;
    pointer-events: auto;

    &::before {
        position: absolute;
        content: '';
        top: 0;
        left: -250px;
        height: 100%;
        width: 250px;
        background-color: $white;
    }

    h2 {
        font-size: $f-big;
        font-weight: bold;
    }
}

.products-toggler {
    position: absolute;
    top: 30px;
    right: -55px;
    width: 55px;
    height: 55px;
    background-color: $prim;
    border: none;
    box-shadow: $shadow;
    transition: all .1s ease-in-out;
}

.products-toggler-black {
    background-color: $black;
}

.groups-list {
    list-style-type: none;
    padding: 0 0 0 10px;
    text-transform: capitalize;
}

.sub-groups-list {
    list-style-type: none;
    padding-left: 25px;

    .group-button {
        font-size: $f-small;
        font-weight: 400;
        color: $black !important;
    }
}

li.active .group-button {
    color: $prim;
}

.group-button {
    border: none;
    background-color: transparent;
    font-size: $f-default;
    display: block;
    cursor: pointer;
    font-weight: bold;
    color: $black;

    &:hover {
        color: $prim !important;
    }

    &.selected {
        color: $prim !important;
        cursor: default;
    }
}

.products-category-title {
    font-size: $f-big;
    font-family: $font-title;
    text-transform: uppercase;
    font-weight: bold;
    display: inline-block;
}

.products-category-p {
    font-size: $f-small;
}

.loading-courtain {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: $courtain-l;
    z-index: 1;
}

.error {
    color: $wrong;
    
    h2 {
        font-size: $f-big;
        font-weight: bold;
    }
}

#single-content {
    overflow-x: hidden;
}

#single-content img {
    max-width: 90vw;
}

@media (min-width: 992px) {
    .products-toggler {
        display: none;
    }

    .products-navigation {
        box-shadow: none;
        min-height: 0;
    }
}